/* PROJECT 1 ------------------------------------------------------------------------------------------------ */
body 
{
	background-color: #5c0002;
	color: #FFF;
	padding: 0;
	margin: 0; /* Padding and margin clears to push the page edges to the end. */
	font-family: 'Molengo', Helvetica, Arial , sans-serif; /* Add that cool font from Google */
}

#header
{
	text-align: center;
	font-size: 2.7em;
	text-decoration: underline;
	font-weight: 600; /* Kinda bold, but not quite totally bold */
}

#main_text
{
	font-size: 1em;
	padding: 2px 10px; /* Keep the text away from the edges of the container, needed some separation */
}

#container
{
	width: 80%; 
	margin: 0 auto;
	background-color: #000;
	box-shadow: 0 5px 20px #FFF; /* Glow the container, it looks a little like there's a light coming from behind the container */
	border-radius: 0 0 10px 10px; /* Round off the edges, becuase it looks cool */
}

#footer 
{
	font-size: 10px;
	padding: 0 5px 5px 5px;
	color: #d9d9d9; /* Slightly different color, keeps the footer from looking too prominent */
	text-align: center;
	clear: both;
}

a
{
	color: #757cff; /* Default blue was a little too much, toned it down a little */
}

.partial_rule /* Only use this for HR! It gives a little bit smaller HR with a slightly toned back color */
{
	width: 98%;
	color: #878787;
	clear: both;
}

/* PROJECT 2 ------------------------------------------------------------------------------------------------ */

#nav
{
	list-style-type: none; /* Get rid of the listiness things from the nav list */
}
#nav li
{
	float: left;
	text-align: center;
	font-size: 1.2em;
}
#nav a
{
	padding: .6em 0 .6em 0;
	width: 8em;
	display: block;
	text-decoration: none;
	color: #FFF;
	background-color: #404040; /* Make the buttons look cool with CSS */

}

#nav a:hover 
{
	background-color: #FFF;
	color: #000;  /* Extra coolness on hover! */
}

/* These are some special cases for the end caps of the nav, to get those rounded corners going */
.left_end {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.right_end {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.top_link /* Style the footer component to link to the top of the page */
{
	font-size: 12px;
	color: #FFF;
	text-align: center;
}

.top_link a
{
	text-decoration: none;
}

.image_center /* Style to center images */
{
	display: block;
	margin: 0 auto;
}

/* Form stuff */

.border_clear
{
	border: 0;
}

.vtop
{
	vertical-align: top;
}
/* Project 3 */
#backgroundPopup
{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1;
}
/* The popup ids style the JQuery pop-up window */
#popup
{
	display:none;
	position:absolute;
	font-family: Molengo, Arial, Helvetica, sans-serif;
	_position:absolute; /* hack for internet explorer 6, probably not necessary anymore*/
	height:384px;
	width:408px;
	background:#FFFFFF;
	border:2px solid #cecece;
	z-index:2;
	padding:12px;
	font-size:13px;
	color: #000;
}

#popup h1
{
	text-align:left;
	color:#000;
	font-family: Michroma, Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}

#popup h3
{
	text-align: left;
	color: #000;
	font-family: Michroma, Arial, Helvetica, sans-serif;
}

#popupClose
{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
}

#left_col {
	width: 200px;
	float: left;
}

#left_col li {
	list-style-type: square;
}

#left_col a {
	color: #FFF;
}

.lc_header {
	text-decoration: underline;
	font-size: 1.2em;
}

.rel { /*Style a relatively positioned paragraph */
	position: relative;
	margin-left: 200px;
}

.rel_image {
	padding-right: 5px;
}

.top_stuff {
	z-index: 900;
	position: absolute;
}

.bottom_stuff { /* Positions a terribly ugly image under the list on the left. This will be gone after this project/ */
	z-index: 1;
	position: absolute;
	
}

/* PROJECT 5 ------------------------------------------------------------------------------------------------ */

#form_space {
    width: 500px;
}

#form_space label {
    float: left;
    clear: both;
}

.form_right {
    float: right;
    margin-bottom: 5px;

}

.radio_fix {
    padding-left: 106px;
}

.radio_space {
    margin-right: 30px;
}
.button_clear {
    float: left;
    clear: both;
    width: 500px;
    height: 50px;
}

.summary {
    font-size: 20px;
    text-decoration: underline;
}

/* PROJECT 7 ------------------------------------------------------------------------------------------------ */

.login {
    width: 325px;
    padding-left: 10px;
}

.login div {
    width: 325px;
    padding-bottom: 20px;
}

.loginLabels {
    float: left;
}

.login_right {
    float: right;
}

.submit_left {
    clear: both;
    margin-top: 15px;
    float: left;
}
.submit_right {
    clear: both;
    margin-top: 15px;
    float: right;
}

/* PROJECT 8 ------------------------------------------------------------------------------------------------ */

.bold {
    font-weight: bold;
}

.messages {
    border: 1px solid;
    border-collapse: collapse;
}

.messages td {
    border: 1px solid;
    padding: 4px;
}

.message_table_small {
    width: 100px;
}

.message_table_large {
    width: 300px;
}

.message_table {
    padding-left: 10px;
}

.messages td a {
    color: #FFF;
    text-decoration: none;
}

.table_labels {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

select.users {
    width: 391px;
}