body 
{
	padding: 0;
	margin: 0; /* Padding and margin clears to push the page edges to the end. */
	font-family: 'Droid Sans', serif; /* Add that cool font from Google */
	background-color: #bdbdbd;
}

#container {
	margin: 0 auto;
	width: 800px;
	background-color: #FFF;
	box-shadow: 0 5px 20px #000; /* Glow the container, it looks a little like there's a light coming from behind the container */
	border-radius: 0 0 10px 10px; /* Round off the edges, becuase it looks cool */
	border-style: thin;
	border-color: #000;
	font-size: 14px;
	margin-bottom: 20px;
}

#container p {
	margin: 0 10px;
}

#container li {
	list-style-type: square;
}

/* Push all the text in a touch so it doesn't touch the edges of the container */
#interior {
	margin: 0 15px;
}

.center {
	text-align: center;
}

.italic {
	font-style: italic;
}

.heading {
	text-align: center;
	font-weight: 500;
	font-size: 20px;
	padding-top: 8px;
}

.heading_name {
	font-size: 24px;
}

.heading_snip {
	font-size: 18px;
}

/* I couldn't remember how to do this in CSS, so I had to look it up: http://css-tricks.com/left-align-and-right-align-text-on-the-same-line/ */
.top_left {
	float: left;
}

.top_right {
	float: right;
}

.top_bold {
	font-weight: bold;
}

.float_clear {
	clear: both;
}

/*Class for super-scripts. There's only one, but this is here in case I ever want it in the future */
.super {
	vertical-align: super;
	font-size: 8px;
}